<div id="view-content">
    <div class="well row" id="sitemap-form">
        <form class="form-horizontal row">
            <div class="row span12">
                <div class="span8">
                    <label class="control-label" for="inputUrls">URLs</label>
                    <div class="controls">
                        <textarea id="inputUrls" class="span6"></textarea>
                    </div>
                </div>
                <div class="span3">
                    <div class="settings">
                        <div class="input-prepend">
                            <span class="add-on">Depth:</span><input id="inputDepth" class="span1" type="text" class="input-samll" />
                        </div>
                    </div>
                </div>
                <div class="span1">
                    <button id="scanButton" class="btn btn-success btn-large">Scan</button>
                </div>
            </div>
            <div id="resultGrid" class="row-fluid span12">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>URL</th>
                          <th>Priority</th>
                          <th>Frequency</th>
                          <th>state</th>
                          <th>Depth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row-1">
                          <td class="serial">1</td>
                          <td class="url">http://www.yahoo.com/1</td>
                          <td class="priority"><input class="span12" type="number" value="1"/></td>
                          <td class="frequency"><select class="span12">
                            <option value="always">Always</option>
                            <option value="hourly">Hourly</option>
                            <option value="daily" selected="selected">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                            <option value="never">Never</option>
                          </select></td>
                          <td class="state"><div class="label label-success"><i class="icon-ok"></i><span>Success</span></div></td>
                          <td class="depth">1</td>
                        </tr>
                        <tr id="row-2">
                          <td class="serial">2</td>
                          <td class="url">http://www.yahoo.com/2</td>
                          <td class="priority"><input class="span12" type="number" value="1"/></td>
                          <td class="frequency"><select class="span12">
                            <option value="always">Always</option>
                            <option value="hourly">Hourly</option>
                            <option value="daily" selected="selected">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                            <option value="never">Never</option>
                          </select></td>
                          <td class="state"><div class="label label-important"><i class="icon-remove"></i><span>Failure</span></div></td>
                          <td class="depth">1</td>
                        </tr>
                        <tr id="row-3">
                          <td class="serial">3</td>
                          <td class="url">http://www.yahoo.com/3</td>
                          <td class="priority"><input class="span12" type="number" value="1"/></td>
                          <td class="frequency"><select class="span12">
                            <option value="always">Always</option>
                            <option value="hourly">Hourly</option>
                            <option value="daily" selected="selected">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                            <option value="never">Never</option>
                          </select></td>
                          <td class="state"><div class="progress progress-info progress-striped active"><div class="bar" style="width: 100%"><i class="icon-refresh"></i><span>Processing</span></div></div></div></td>
                          <td class="depth">1</td>
                        </tr>
                        <tr id="row-4">
                          <td class="serial">4</td>
                          <td class="url">http://www.yahoo.com/4</td>
                          <td class="priority"><input class="span12" type="number" value="1"/></td>
                          <td class="frequency"><select class="span12">
                            <option value="always">Always</option>
                            <option value="hourly">Hourly</option>
                            <option value="daily" selected="selected">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                            <option value="never">Never</option>
                          </select></td>
                          <td class="state"><div class="label label-info"><i class="icon-time"></i><span>Pending</span></div></td>
                          <td class="depth">1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="resultButton" class="row span12">
                <button class="btn btn-success btn-large">Download XML Sitemap</button>
                <button class="btn btn-success btn-large">Save</button>
            </div>
        </form>
    </div>
</div>