<br /><br />
<div id="view-content">
    <h1>Analyze</h1>

    <?php echo $this->form; ?>

    <?php if( isset($this->analysed) ): ?>
        <?php foreach($this->analysed as $url_data): ?>
            <?php if ( !isset($url_data['error']) ): ?>
                <table class="table table-striped table-bordered table-condenced">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="2">Crawled URL: <em><?php echo $url_data['url']?></em></th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>Keyword</th>
                            <th>Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php $index = 0; ?>
                        <?php foreach($url_data['keywords'] as $word => $occu ): ?>
                            <tr>
                                <td><?php echo ++$index; ?></td>
                                <td><?php echo $word; ?></td>
                                <td><?php echo $occu; ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            <?php else: ?>
                <div class="well"><?php echo str_replace('%url', $url_data['url'], $url_data['error']); ?></div>
            <?php endif; ?>
        <?php endforeach; ?>
    <?php endif; ?>

</div>