<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Spider</title>
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.css">
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/bootstrap-customization.css">
        <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a href="#" class="brand">SurferNetwork Spider</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="active"><a href="<?php echo $this->baseUrl(); ?>/"><i class="icon-home icon-white"></i>Home</a></li>
                  <li><a href="<?php echo $this->baseUrl(); ?>/analyze"><i class="icon-search icon-white"></i>Analyze</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

    <div class="container">
                <?php echo $this->layout()->content; ?>
    </div>

    </body>
</html>